<header>
    <!-- <h1>{{pageTitle}}</h1>-->
    {{likes}}
    <div class="row">
  <!--    <div class="col-md-4 col-sm-3 col-xs-2"> -->
            <div class="col-md-4 mb-4">
            <div id="head-logo">
                <img src="/images/mobclogo.png" alt="" srcset="" width="300px">
            </div>
        </div>
       <!-- <div class="col-md-8 col-sm-9 col-xs-10"> -->
            <div class="col-md-8 mb-4">
            <div id="navigation">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="contact.html">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="give.html">Give</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="watch.html">Watch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="serve.html">Serve</a>
                </li>


            </ul>

            </div>
        </div>
    </div>
   
</header>