<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mount Olive Baptist Church</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
      <!-- use the header partial -->
    {{> header}}
   
    <!-- use the footer partial -->
   {{> footer}}

</body>
</html>