<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mount Olive Baptist Church</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/reset.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css" />

</head>

<body>
    <!-- use the header partial -->
    {{> header}}
    <div id="about-main-section">
        <div id="about-p1">
            <div class="jumbotron">
                <h1 class="display-4">Our Mission</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-3">


                            <img style="height: 200px; width: 100%; display: block;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image">

                        </div>

                    </div>
                    <div class="col-md-8">
                        <p class="lead" style="font-weight:bold">To inspire everyone to become the man or woman God
                            wants you to be.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper
                            sit. Velit dignissim sodales ut eu. Sociis natoque penatibus et magnis dis.</p>

                    </div>
                </div>
                
            </div>
        </div>
        <div id="about-p2">
            <div class="jumbotron" style="background-color:rgba(233, 241, 241, 0.386)">
                <h1 class="display-4">Meet The Pastor</h1>
                <div class="row">
                    <div class="col-md-8">
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                            attention to featured content or information.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper
                            sit. Velit dignissim sodales ut eu. Sociis natoque penatibus et magnis dis.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Feugiat sed lectus vestibulum mattis
                            ullamcorper velit sed. Dictum sit amet justo donec enim diam vulputate ut pharetra. Mattis
                            pellentesque id nibh tortor id. Nec ultrices dui sapien eget mi proin. Auctor eu augue ut
                            lectus arcu bibendum at varius. Pellentesque id nibh tortor id aliquet lectus proin nibh
                            nisl. Mauris nunc congue nisi vitae. Vestibulum lorem sed risus ultricies tristique. Ipsum
                            dolor sit amet consectetur. Sodales ut etiam sit amet nisl purus.

                            Curabitur vitae nunc sed velit. Enim tortor at auctor urna nunc. Augue eget arcu dictum
                            varius. Senectus et netus et malesuada fames ac turpis egestas. Orci nulla pellentesque
                            dignissim enim sit amet. Lectus nulla at volutpat diam. Risus in hendrerit gravida rutrum.
                            Amet nisl suscipit adipiscing bibendum est ultricies integer quis. Facilisi cras fermentum
                            odio eu feugiat pretium nibh ipsum. Lorem ipsum dolor sit amet consectetur adipiscing elit
                            duis. Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum. Viverra
                            maecenas accumsan lacus vel facilisis volutpat.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3">


                            <img style="height: 400px; width: 100%; display: block;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image">

                        </div>
                    </div>
                </div>
                
            </div>
            <!-- use the footer partial -->

        </div>
    </div>
    {{> footer}}
</body>

</html>