<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mount Olive Baptist Church</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
      src="https://code.jquery.com/jquery-1.12.3.min.js"
      integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
      crossorigin="anonymous"
    ></script>

    <!--<script src="assets/javascript/script.js"></script>
  -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/materia/bootstrap.min.css"
    />

</head>
<body>
      <!-- use the header partial -->
    {{> header}}
   
    <!-- use the footer partial -->
   {{> footer}}

</body>
</html>