body{
    background-color: #ffeeba;
    color: #17a2b8;
    color: #ffffff;
    color: #007bff;
}
#footer{
    margin-left: 50px;
}
div#foot-nav{
    /*margin-left: 580px;*/
    margin-top: 40px;
    
}